/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #9b670d;
  --ifm-color-primary-dark: #8b5d0c;
  --ifm-color-primary-darker: #84580b;
  --ifm-color-primary-darkest: #6d4809;
  --ifm-color-primary-light: #ab710e;
  --ifm-color-primary-lighter: #b2760f;
  --ifm-color-primary-lightest: #ca8611;
}

[data-theme='dark'] {
  --ifm-color-primary: #f6b056;
  --ifm-color-primary-dark: #f4a136;
  --ifm-color-primary-darker: #f39a27;
  --ifm-color-primary-darkest: #dd810c;
  --ifm-color-primary-light: #f8bf76;
  --ifm-color-primary-lighter: #f9c685;
  --ifm-color-primary-lightest: #fbdcb5;
}
